/* Globális sötét stílus és betűtípus */
body {
    background-color: #0b071e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.bg-dark-custom {
    background-color: rgba(11, 7, 30, 0.95);
    backdrop-filter: blur(10px);
}

/* Lila neon elválasztó vonal */
.border-purple {
    border-color: #bc3df4 !important;
    box-shadow: 0px 2px 15px rgba(188, 61, 244, 0.3);
}

/* Logó és kiemelések neon színe */
.text-neon {
    color: #bc3df4;
    text-shadow: 0 0 10px rgba(188, 61, 244, 0.8);
}

.tech-logo {
    font-weight: 800;
    letter-spacing: 2px;
}

/* Menüpontok stílusa hover effektusra */
.navbar-nav .nav-link {
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: #bc3df4 ;
}


.main-title {
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.description-text {
    color: #d1cedb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}


.btn-neon {
    background-color: #bc3df4;
    color: #fff;
    border: 2px solid #bc3df4;
    box-shadow: 0 0 15px rgba(188, 61, 244, 0.4);
    transition: all 0.3s ease;
}

.btn-neon:hover {
    background-color: transparent;
    color: #bc3df4;
    box-shadow: 0 0 25px rgba(188, 61, 244, 0.8);
}

.btn-outline-light:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.txt-w{
    color: #fff;
}
.txt-h1 {
    font-weight: 1000;
    font-size: 36px;
}

.btn-custom-purple {
    background-color: #bc3df4;}
.line3 {
    width: 40%;
    height: 2px;
    background-color: #bc3df4;
    margin-right: 30%;
    margin-left: 0;
    margin-bottom: 2%;
}

.bg-dark-purple {
    background-color: rgba(31, 1, 51, 0.95);
    backdrop-filter: blur(10px);
}